.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #84a178;
  z-index: 999;
  overflow-y: scroll;

  transform: translateX(200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 18px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  fill: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 1200px) {
    display: none;
  }
}

.burger-menu-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: white;

  &:hover,
  &:focus {
    color: #131313;
  }
}

.burger-menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.currentPage-burger {
  color: #131313;
}

.menu-btn {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 12px 36px;
  margin: 0 auto;

  max-width: 152px;

  color: #000000;
  background-color: #f8d24e;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;

  text-decoration: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #000000;
    background-color: #0a8817;
    outline: none;
  }

  &:hover .btn-arrow-svg {
    fill: #000000;
  }

  &:focus {
    color: white;
    background-color: #0a8817;
    outline: none;
  }

  &:focus .btn-arrow-svg {
    fill: white;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.btn-arrow-svg {
  margin-left: 4px;
  fill: #000000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
