.hero {
  
  margin: 0;
  padding: 0;
  background-color: #84a278;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: 767px) {
    min-width: 320px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    height: 349px;

  }

  @media screen and (min-width: 1200px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}



.hero__title {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fcfcfc;

  padding-top: 50px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 14px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 45px;

    font-size: 38px;
  }
}

.hero__inform {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    // display: inline-block;
    position: absolute;
    right: 32px;
    top: 28px;

    display: flex;

    list-style: none;
  }
  
}

.hero__inform--sum {
  @media screen and (min-width: 768px) {
    // display: flex;
    // margin-left: auto;
  }
}

.hero__inform--kind {
  @media screen and (min-width: 768px) {
    // display: flex;
    // margin-left: auto;
  }
}


.hero__button {
  display: flex;
  align-items: center;
  text-align: center;

  padding-bottom: 236px;
}

.hero__button--products {
  

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25px;

  color: #000000;

  width: 108px;
  height: 38px;
  margin-right: 12px;
  

  border: 2px solid #f8d24e;
  border-radius: 8px;
  
  background-color: #84a178;
}


.hero__button--made {
  padding: 0;
  width: 100px;
  height: 24px;


  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25px;
  
  text-decoration-line: underline;
  
  color: #F8D24E;
  background-color: #84a178;
  border: none;
}
// .hero__button {
//   background-color: var(--accent-color);
//   color: var(--basic-white-color);
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;
//   font-family: Roboto, sans-serif;
//   cursor: pointer;

//   display: inline-block;
//   border: 1px solid transparent;
//   border-radius: 4px;
//   padding: 10px 24px;
//   margin-bottom: 118px;

//   min-width: 200px;
//   @media screen and (min-width: 1200px) {
//     margin-bottom: 200px;
//   }

//   transition: background-color 250ms var(--timing-function),
//     color 250ms var(--timing-function);

//   &:hover,
//   &:focus {
//     background-color: var(--basic-white-color);
//     color: var(--total-black);
//   }
// }
