.contacts {
  margin-top: -353px;
  width: 100%;

  @media screen and (min-width: 769px) {
    margin-top: -299px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: -128px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 20px;
    gap: 16px;

    @media screen and (max-width: 767.98px) {
      margin-left: auto;
      margin-right: auto;
      width: 280px;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      font-size: 14px;
      margin-bottom: 40px;
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      margin-bottom: 60px;
      gap: 32px;
    }
  }

  &__group {
    background-color: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 32px;

    @media screen and (min-width: 768px) {
      padding-left: 24px;
      flex-basis: calc((100% - 32px) / 3);
    }

    @media screen and (min-width: 1200px) {
      padding-left: 40px;
      flex-basis: calc((100% - 64px) / 3);
    }
  }

  &__category {
    display: inline-block;
    color: $dark-color;
    line-height: calc(14 / 12);
    text-transform: uppercase;

    background-color: $button-default;
    border-radius: 6px;

    padding: 4px 14px;
    margin-top: 0;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 32px;
      line-height: calc(22 / 16);
    }
  }

  &__address {
    text-decoration: none;
    font-style: normal;
    line-height: calc(22 / 12);
    margin-bottom: 32px;

    &--link {
      display: flex;
      color: $product3-color;
      line-height: calc(22 / 12);

      // cursor: url(../images/cursor.svg) 15 15, auto;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__schedule {
    line-height: calc(22 / 12);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-top: 1px solid $line-color;
    border-bottom: 1px solid $line-color;

    @media screen and (min-width: 768px) {
      padding-top: 32px;
      padding-bottom: 32px;
      margin-bottom: 32px;
    }
  }

  &__hours {
    color: $button-disabled;
  }

  &__item {
    line-height: calc(19 / 12);

    @media screen and (min-width: 768px) {
      line-height: calc(21 / 14);
    }
  }

  &__link {
    text-decoration: none;
    font-style: normal;
    color: $dark-color;

    &:hover,
    &:focus {
      color: $product3-color;
    }
  }

  &__button {
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      margin-bottom: 120px;
    }
  }
}

.contacts__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 196px;
  margin: 0;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;

  &--primary {
    background-color: $button-default;
    padding: 12px 0;

    @include transition(background-color);

    &:hover {
      color: $black-color;
      background-color: $button-hover;
      outline: none;
    }

    &:hover .btn-arrow-svg {
      fill: $black-color;
    }

    &:focus {
      color: $white-color;
      background-color: $button-hover;
      outline: none;
    }

    &:focus .btn-arrow-svg {
      fill: $white-color;
    }
  }

  &--secondary {
    background-color: transparent;
    border: 2px solid $button-default;
    padding: 10px 0;

    @include transition(border);

    &:hover {
      border: 2px solid $button-hover;
    }

    &:focus {
      color: $white-color;
      border: 2px solid $button-hover;
      outline: none;
    }

    &:focus .btn-arrow-svg {
      fill: $white-color;
    }
  }
}

.btn-arrow-svg {
  margin-left: 4px;
  fill: $black-color;

  @include transition(fill);
}
