<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>

    <ul class="advantages__list list">
      <li class="advantages__item">
        <div class="advantages-cart">
          <a class="advantages__link link" href=""
            ><img
              class="advantages__icon"
              src="./images/advantages/cow.png"
              alt="cow"
              width="50"
              height="50"
          /></a>
        </div>

        <p class="advantages__number">721</p>
        <p class="advantages__text">
          721 cows on our farm give <br />
          the best milk.
        </p>
      </li>

      <li class="advantages__item">
        <div class="advantages-cart">
          <a class="advantages__link" href=""
            ><img
              class="advantages__icon"
              src="./images/advantages/weight.png"
              alt="weight"
              width="50"
              height="50"
          /></a>
        </div>

        <p class="advantages__number">16kg</p>

        <p class="advantages__text">
          16 kg of the highest quality ice <br />
          cream we produce every hour.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages-cart">
          <a class="advantages__link" href=""
            ><img
              class="advantages__icon"
              src="./images/advantages/cream.png"
              alt="ice cream"
              width="50"
              height="50"
          /></a>
        </div>

        <p class="advantages__number">84</p>

        <p class="advantages__text">
          84 servings of ice cream our <br />
          customers buy in an hour.
        </p>
      </li>
    </ul>
  </div>
</section>
