<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>

    <ul class="advantages__list list">
      <li class="advantages__item">
        <div class="advantages-cart">
          <img
            class="advantages__icon"
            src="./images/advantages/cow.png"
            alt="cow"
            width="50"
            height="50"
          />
        </div>

        <p class="advantages__number">721</p>
        <p class="advantages__text">сows on our farm give the best milk.</p>
      </li>

      <li class="advantages__item">
        <div class="advantages-cart">
          <img
            class="advantages__icon"
            src="./images/advantages/weight.png"
            alt="weight"
            width="50"
            height="50"
          />
        </div>

        <p class="advantages__number">16kg</p>

        <p class="advantages__text">
          of the highest quality ice cream we produce every hour.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages-cart">
          <img
            class="advantages__icon"
            src="./images/advantages/cream.png"
            alt="ice cream"
            width="50"
            height="50"
          />
        </div>

        <p class="advantages__number">84</p>

        <p class="advantages__text">
          servings of ice cream our customers buy in an hour.
        </p>
      </li>
    </ul>
  </div>
</section>
