<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>

        <ul class="contacts__list card-set">
            <li class="contacts__group card-set__item">
                <p class="contacts__category">Cafe</p>
                <address class="contacts__address">
                    Chicago<br />
                    <a href="" class="contacts__address--link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </address>
                <div class="contacts__schedule">
                    <span class="contacts__days">Monday - Friday</span><br />
                    <span class="contacts__hours">06:00 AM - 10:00 PM</span><br />
                    <span class="contacts__days">Saturday - Sunday</span><br />
                    <span class="contacts__hours">08:00 AM - 16:00 PM</span><br />
                </div>
                <ul class="contacts__contact">
                    <li class="contacts__item">
                        <a href="tel:+61(0)383766284" class="contacts__link link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__item">
                        <a href="mailto:noreply@envato.com" class="contacts__link link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__group card-set__item">
                <p class="contacts__category">Food Truck</p>
                <address class="contacts__address">
                    Los Angeles<br />
                    <a href="" class="contacts__address--link">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </address>
                <div class="contacts__schedule">
                    <span class="contacts__days">Monday - Friday</span><br />
                    <span class="contacts__hours">06:00 AM - 10:00 PM</span><br />
                    <span class="contacts__days">Saturday - Sunday</span><br />
                    <span class="contacts__hours">08:00 AM - 16:00 PM</span><br />
                </div>
                <ul class="contacts__contact">
                    <li class="contacts__item">
                        <a href="tel:+61(0)383766284" class="contacts__link link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__item">
                        <a href="mailto:noreply@envato.com" class="contacts__link link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__group card-set__item">
                <p class="contacts__category">New York</p>
                <address class="contacts__address">
                    Chicago<br />
                    <a href="" class="contacts__address--link">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                </address>
                <div class="contacts__schedule">
                    <span class="contacts__days">Monday - Friday</span><br />
                    <span class="contacts__hours">06:00 AM - 10:00 PM</span><br />
                    <span class="contacts__days">Saturday - Sunday</span><br />
                    <span class="contacts__hours">08:00 AM - 16:00 PM</span><br />
                </div>
                <ul class="contacts__contact">
                    <li class="contacts__item">
                        <a href="tel:+61(0)383766284" class="contacts__link link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__item">
                        <a href="mailto:noreply@envato.com" class="contacts__link link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>