<section class="contacts section" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>

    <ul class="contacts__list card-set">
      <li class="contacts__group card-set__item">
        <p class="contacts__category">Cafe</p>
        <address class="contacts__address">
          Chicago<br />
          <a
            href="https://goo.gl/maps/1L8ygUdRmvhqHJCZ8"
            target="_blank"
            class="contacts__address--link"
            rel="noopener norefferer nofollow"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <div class="contacts__schedule">
          <span class="contacts__days">Monday - Friday</span><br />
          <span class="contacts__hours">06:00 AM - 10:00 PM</span><br />
          <span class="contacts__days">Saturday - Sunday</span><br />
          <span class="contacts__hours">08:00 AM - 16:00 PM</span><br />
        </div>
        <ul class="contacts__contact">
          <li class="contacts__item">
            <a href="tel:+61(0)383766284" class="contacts__link link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__group card-set__item">
        <p class="contacts__category">Food Truck</p>
        <address class="contacts__address">
          Los Angeles<br />
          <a
            href="https://goo.gl/maps/RmB859KkpcdZ2cHWA"
            target="_blank"
            class="contacts__address--link"
            rel="noopener norefferer nofollow"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <div class="contacts__schedule">
          <span class="contacts__days">Monday - Friday</span><br />
          <span class="contacts__hours">06:00 AM - 10:00 PM</span><br />
          <span class="contacts__days">Saturday - Sunday</span><br />
          <span class="contacts__hours">08:00 AM - 16:00 PM</span><br />
        </div>
        <ul class="contacts__contact">
          <li class="contacts__item">
            <a href="tel:+61(0)383766284" class="contacts__link link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__group card-set__item">
        <p class="contacts__category">Cafe</p>
        <address class="contacts__address">
          New York<br />
          <a
            href="https://goo.gl/maps/K49C5V9tvmmqTTYV9"
            target="_blank"
            class="contacts__address--link"
            rel="noopener norefferer nofollow"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <div class="contacts__schedule">
          <span class="contacts__days">Monday - Friday</span><br />
          <span class="contacts__hours">06:00 AM - 10:00 PM</span><br />
          <span class="contacts__days">Saturday - Sunday</span><br />
          <span class="contacts__hours">08:00 AM - 16:00 PM</span><br />
        </div>
        <ul class="contacts__contact">
          <li class="contacts__item">
            <a href="tel:+61(0)383766284" class="contacts__link link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <div class="contacts__button">
      <button
        class="button contacts__btn contacts__btn--primary js-open-modal"
        data-modal="6"
        name="open modal"
      >
        Our Locations
        <svg class="icon about__icon btn-arrow-svg" width="12" height="12">
          <use href="./images/icons.svg#icon-btn-arrow"></use>
        </svg>
      </button>
      <button
        class="button contacts__btn contacts__btn--secondary js-open-modal"
        data-modal="7"
        name="open modal"
      >
        Franchise
        <svg class="icon about__icon btn-arrow-svg" width="12" height="12">
          <use href="./images/icons.svg#icon-btn-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
