<section class="footer-section">
  <div class="container common-footer">
    <div class="footer-title">
      <p class="footer-title__first">homemade ice cream made</p>
      <p class="footer-title__second">with passion</p>
    </div>
    <div>
      <ul class="social-footer list">
        <li class="social-item-footer">
          <a class="social-link-footer link" href=""> </a>
        </li>
        <li class="social-item-footer">
          <a class="social-link-footer link" href=""> </a>
        </li>
        <li class="social-item-footer">
          <a class="social-link-footer link" href=""> </a>
        </li>
      </ul>
    </div>
    <div class="footer-contacts">
      <address class="footer-adress">
        <span class="footer-adress__accent">Feel free to contact</span>
        <span>
          <a href="" class="footer-adress__tel">+61 (0) 383 766 284</a>
        </span>
      </address>
    </div>
    <div class="rights">
      <span class="rights__owner">© 2022 - IceCream.</span>
      <span class="rights__reserved">All Rights Reserved.</span>
    </div>
  </div>
</section>
