<footer class="footer-section">
  <div class="container common-footer">
    <div class="footer-title">
      <p class="footer-title__first">homemade ice cream made</p>
      <p class="footer-title__second">with passion</p>
    </div>

    <div>
      <ul class="social-footer list">
        <li class="social-item-footer">
          <a
            class="social-link-footer link"
            href="https://github.com/"
            target="_blank"
            rel="noopener norefference"
            aria-label="github"
          >
            <svg class="social-icon-footer" width="34" height="34">
              <use href="../images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="social-item-footer">
          <a
            class="social-link-footer link"
            href="https://web.telegram.org"
            target="_blank"
            rel="noopener norefference"
            aria-label="telegram"
          >
            <svg class="social-icon-footer" width="34" height="34">
              <use href="../images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item-footer">
          <a
            class="social-link-footer link"
            href="http://facebook.com"
            target="_blank"
            rel="noopener norefference"
            aria-label="Facebook"
          >
            <svg class="social-icon-footer" width="34" height="34">
              <use href="../images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-contacts">
      <address class="footer-adress">
        <span class="footer-adress__accent">Feel free to contact</span>
        <span>
          <a href="+61 (0) 383 766 284" class="footer-adress__tel"
            >+61 (0) 383 766 284</a
          >
        </span>
      </address>
    </div>

    <div class="rights">
      <span class="rights__owner">© 2022 - IceCream.</span>
      <span class="rights__reserved">All Rights Reserved.</span>
    </div>
  </div>
</footer>
