<section class="gallery">
    <div class="container">
        <div id="cf4a" class="shadow">
            <img class="gallery__item" src="./images/gallery/gallery-first_l@1x.jpg" width="1013" height="422">
            <img class="gallery__item" src="./images/gallery/gallery-second_l@1x.jpg" width="1013" height="422">
            <img class="gallery__item" src="./images/gallery/gallery-third_l@1x.jpg" width="1013" height="422">
            <img class="gallery__item" src="./images/gallery/gallery-four_l@1x.jpg" width="1013" height="422">
        </div>
    </div>
</section>