<header class="header" data-header>
  <div class="container container-nav">
    <a href="./index.html" class="logo">
      <picture>
        <!-- Desktop -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header/logo-desktop.webp    1x,
            ./images/header/logo-desktop@2x.webp 2x,
            ./images/header/logo-desktop@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header/logo-desktop.png    1x,
            ./images/header/logo-desktop@2x.png 2x,
            ./images/header/logo-desktop@3x.png 3x
          "
        />
        <!-- Tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/header/logo-tablet.webp    1x,
            ./images/header/logo-tablet@2x.webp 2x,
            ./images/header/logo-tablet@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/header/logo-tablet.png    1x,
            ./images/header/logo-tablet@2x.png 2x,
            ./images/header/logo-tablet@3x.png 3x
          "
        />
        <!-- Phone -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/header/logo.webp    1x,
            ./images/header/logo@2x.webp 2x,
            ./images/header/logo@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/header/logo.png    1x,
            ./images/header/logo@2x.png 2x,
            ./images/header/logo@3x.png 3x
          "
        />
        <img class="logo__img" src="./images/header/logo.png" alt="Лого" />
      </picture>
    </a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="./index.html" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="./index.html#about" class="navigation__link"
            >How it's made?</a
          >
        </li>
        <li class="navigation__item">
          <a href="./index.html#products" class="navigation__link"
            >Our products</a
          >
        </li>
        <li class="navigation__item">
          <a href="./index.html#contacts" class="navigation__link">Contacts</a>
        </li>
      </ul>
    </nav>

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      name="mobile menu"
    >
      <svg class="burger-icon" width="32" height="32">
        <use href="./images/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <button
      class="button menu-btn header__btn js-open-modal"
      type="button"
      data-modal="1"
      name="open menu"
    >
      Buy now<svg class="btn-arrow-svg" width="12" height="12">
        <use href="./images/icons.svg#icon-btn-arrow"></use>
      </svg>
    </button>
  </div>

  <!-- Burger menu -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <a href="./index.html" class="logo burger-menu__logo">
      <picture>
        <!-- Tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/header/logo-tablet.webp    1x,
            ./images/header/logo-tablet@2x.webp 2x,
            ./images/header/logo-tablet@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/header/logo-tablet.png    1x,
            ./images/header/logo-tablet@2x.png 2x,
            ./images/header/logo-tablet@3x.png 3x
          "
        />
        <!-- Phone -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/header/logo.webp    1x,
            ./images/header/logo@2x.webp 2x,
            ./images/header/logo@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/header/logo.png    1x,
            ./images/header/logo@2x.png 2x,
            ./images/header/logo@3x.png 3x
          "
        />
        <img src="./images/header/logo.png" alt="Лого" />
      </picture>
    </a>
    <button class="menu-toggle js-close-menu" name="menu close">
      <svg class="menu-close-icon" width="32" height="32">
        <use href="./images/icons.svg#icon-burger-close"></use>
      </svg>
    </button>
    <ul class="burger-menu__list">
      <li class="burger-menu__item">
        <a href="./index.html" class="burger-menu__link">Home</a>
      </li>
      <li class="burger-menu__item">
        <a href="#about" class="burger-menu__link">How it's made?</a>
      </li>
      <li class="burger-menu__item">
        <a href="#products" class="burger-menu__link">Our products</a>
      </li>
      <li class="burger-menu__item">
        <a href="#contacts" class="burger-menu__link">Contacts</a>
      </li>
    </ul>

    <button
      class="button menu-btn burger-menu__btn js-open-modal"
      type="button"
      data-modal="1"
      name="bye now"
    >
      Buy now<svg class="btn-arrow-svg" width="12" height="12">
        <use href="./images/icons.svg#icon-btn-arrow"></use>
      </svg>
    </button>
  </div>
</header>
