<!--Hero-->
<section class="hero">
  <div class="container hero-container">
    <h1 class="hero__title">
      ice cream <br />
      made with <br />
      <span class="hero__title--text">passion</span>
    </h1>
    <ul class="hero__inform">
      <li class="hero__inform--sum">16</li>
      <li class="hero__inform--kind">cafes</li>
      <li class="hero__inform--sum">23</li>
      <li class="hero__inform--kind">food trucks</li>
    </ul>
    <div class="hero__button">
      <button data-modal-open type="button" class="hero__button--products">
        Products
      </button>
      <button class="hero__button--made">How it’s made?</button>
    </div>
    <div class="hero__text">
      <p class="hero__item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a href="#" class="hero__arrow">
        <svg class="hero__arrow-svg">
          <use href="./images/hero/symbol-defs.svg#icon-Arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
