<!--Hero-->
<section class="hero">
  <div class="container hero-container">
    <h1 class="hero__title">
      ice cream <br />
      made with <br />
      <span class="hero__title--text">passion</span>
    </h1>
    <ul class="hero__inform">
      <li class="hero__inform--sum">16</li>
      <li class="hero__inform--kind">cafes</li>
      <li class="hero__inform--sum">23</li>
      <li class="hero__inform--kind">food trucks</li>
    </ul>
    <ul class="hero__button">
      <li class="hero__button--products">
        <a href="#products" class="hero__button--products-link">Products</a>
      </li>
      <li class="hero__button--made">
        <a href="#about" class="hero__button--made-link">How it’s made?</a>
      </li>
    </ul>
    <div class="hero__text">
      <a href="#about" class="hero__arrow">
        <p class="hero__item">
          Mix the best flavors and watch how the best ice cream in the World is
          made!
        </p>
        <svg class="hero__arrow-svg">
          <use href="./images/icons.svg#icon-Arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
