<div class="modal-products modal" data-modal="2">
  <button type="button" class="modal__btn-close js-modal-close" name="close modal">
    <svg class="close-icon" width="24" height="24">
      <use href="./images/modal-franchise/modal-franchise.svg#icon-close"></use>
    </svg>
  </button>

  <strong class="modal__title modal-products-title"
    >Chololate<span></span>icecream</strong
  >

  <div class="modal-products-box"></div>
  <ul class="modal-products-listzero list">
    <li class="modal-products-itemzero">
      <span class="modal-products-itemzero-text">320</span
      ><span class="modal-products-itemzero-text--size">kcal</span>
    </li>
    <li class="modal-products-itemzero">
      <span class="modal-products-itemzero-text">4g</span
      ><span class="modal-products-itemzero-text--size">Prote...</span>
    </li>
    <li class="modal-products-itemzero">
      <span class="modal-products-itemzero-text">8,2g</span
      ><span class="modal-products-itemzero-text--size">Fats</span>
    </li>
    <li class="modal-products-itemzero">
      <span class="modal-products-itemzero-text">40,4g</span
      ><span class="modal-products-itemzero-text--size">Carbs</span>
    </li>
  </ul>
  <strong class="modal-products-text">Ingredients</strong>
  <ul class="modal-products-list list">
    <li class="modal-products-item">Milk<span></span>100ml</li>
    <li class="modal-products-item">Belgian chocolate<span></span>20g</li>
    <li class="modal-products-item">Cream<span></span>150ml</li>
    <li class="modal-products-item">Cocoa powder<span></span>30g</li>
    <li class="modal-products-item">Sugar<span></span>40g</li>
    <li class="modal-products-item">Vanilla sugar<span></span>10g</li>
  </ul>
  <form name="modal-products_form" class="modal-products-form-group">
    <label>
      <input
        class="modal-products-form-field input"
        placeholder="Name"
        name="user_name"
        type="text"
        required
        title="Name/surname from 3 characters"
        pattern="^([a-zA-Z]{3,15}[ ]*)+"
      />
    </label>
    <label>
      <input
        class="modal-products-form-field phone input"
        placeholder="Phone"
        name="user_tel"
        type="tel"
        required
      />
    </label>
    <label>
      <textarea
        class="modal-products-form-field modal-products-form-message input"
        placeholder="Comment"
        rows="7"
        required
      ></textarea>
    </label>
    <button class="modal-products-form-button" type="submit" name="submit">Submit</button>
  </form>
</div>

<!-- coffee -->
<div class="modal-products modal" data-modal="3">
  <button type="button" class="modal__btn-close js-modal-close" name="close modal">
    <svg class="close-icon" width="24" height="24">
      <use href="./images/modal-franchise/modal-franchise.svg#icon-close"></use>
    </svg>
  </button>

  <strong class="modal__title modal-products-title"
    >Chololate<span></span>icecoffee</strong
  >

  <div class="modal-products-box modal-products-box--yellow"></div>
  <ul class="modal-products-listzero list">
    <li class="modal-products-itemzero modal-products-itemzero--yellow">
      <span
        class="modal-products-itemzero-text modal-products-itemzero-text--yellow"
        >300</span
      ><span class="modal-products-itemzero-text--size">kcal</span>
    </li>
    <li class="modal-products-itemzero modal-products-itemzero--yellow">
      <span
        class="modal-products-itemzero-text modal-products-itemzero-text--yellow"
        >6g</span
      ><span class="modal-products-itemzero-text--size">Prote...</span>
    </li>
    <li class="modal-products-itemzero modal-products-itemzero--yellow">
      <span
        class="modal-products-itemzero-text modal-products-itemzero-text--yellow"
        >9,2g</span
      ><span class="modal-products-itemzero-text--size">Fats</span>
    </li>
    <li class="modal-products-itemzero modal-products-itemzero--yellow">
      <span
        class="modal-products-itemzero-text modal-products-itemzero-text--yellow"
        >42,5g</span
      ><span class="modal-products-itemzero-text--size">Carbs</span>
    </li>
  </ul>
  <strong class="modal-products-text">Ingredients</strong>
  <ul class="modal-products-list list">
    <li class="modal-products-item">Milk<span></span>70ml</li>
    <li class="modal-products-item">Belgian chocolate<span></span>30g</li>
    <li class="modal-products-item">Coffe<span></span>50ml</li>
    <li class="modal-products-item">Cocoa powder<span></span>30g</li>
    <li class="modal-products-item">Sugar<span></span>5g</li>
    <li class="modal-products-item">Vanilla sugar<span></span>10g</li>
  </ul>
  <form name="modal-products_form" class="modal-products-form-group">
    <label>
      <input
        class="modal-products-form-field modal-products-form-field--yellow"
        placeholder="Name"
        name="user_name"
        type="text"
        required
        title="Name/surname from 3 characters"
        pattern="^([a-zA-Z]{3,15}[ ]*)+"
      />
    </label>
    <label>
      <input
        class="modal-products-form-field modal-products-form-field--yellow phone"
        placeholder="Phone"
        name="user_tel"
        type="tel"
        required
      />
    </label>
    <label>
      <textarea
        class="modal-products-form-field modal-products-form-field--yellow modal-products-form-message"
        placeholder="Comment"
        rows="7"
        required
      ></textarea>
    </label>
    <button class="modal-products-form-button" type="submit" name="submit">Submit</button>
  </form>
</div>

<!-- MILKSHAKES -->
<div class="modal-products modal" data-modal="4">
  <button type="button" class="modal__btn-close js-modal-close" name="close modal">
    <svg class="close-icon" width="24" height="24">
      <use href="./images/modal-franchise/modal-franchise.svg#icon-close"></use>
    </svg>
  </button>

  <strong class="modal__title modal-products-title">Milkshakes</strong>

  <div class="modal-products-box modal-products-box--red"></div>
  <ul class="modal-products-listzero list">
    <li class="modal-products-itemzero modal-products-itemzero--red">
      <span
        class="modal-products-itemzero-text modal-products-itemzero-text--red"
        >300</span
      ><span class="modal-products-itemzero-text--size">kcal</span>
    </li>
    <li class="modal-products-itemzero modal-products-itemzero--red">
      <span
        class="modal-products-itemzero-text modal-products-itemzero-text--red"
        >6g</span
      ><span class="modal-products-itemzero-text--size">Prote...</span>
    </li>
    <li class="modal-products-itemzero modal-products-itemzero--red">
      <span
        class="modal-products-itemzero-text modal-products-itemzero-text--red"
        >9,2g</span
      ><span class="modal-products-itemzero-text--size">Fats</span>
    </li>
    <li class="modal-products-itemzero modal-products-itemzero--red">
      <span
        class="modal-products-itemzero-text modal-products-itemzero-text--red"
        >42,5g</span
      ><span class="modal-products-itemzero-text--size">Carbs</span>
    </li>
  </ul>
  <strong class="modal-products-text">Ingredients</strong>
  <ul class="modal-products-list list">
    <li class="modal-products-item">Milk<span></span>120ml</li>
    <li class="modal-products-item">Belgian chocolate<span></span>40g</li>
    <li class="modal-products-item">Cream<span></span>20ml</li>
    <li class="modal-products-item">Cocoa powder<span></span>30g</li>
    <li class="modal-products-item">Sugar<span></span>15g</li>
    <li class="modal-products-item">Vanilla sugar<span></span>10g</li>
  </ul>
  <form name="modal-products_form" class="modal-products-form-group">
    <label>
      <input
        class="modal-products-form-field modal-products-form-field--red"
        placeholder="Name"
        name="user_name"
        type="text"
        required
        title="Name/surname from 3 characters"
        pattern="^([a-zA-Z]{3,15}[ ]*)+"
      />
    </label>
    <label>
      <input
        class="modal-products-form-field modal-products-form-field--red phone"
        placeholder="Phone"
        name="user_tel"
        type="tel"
        required
      />
    </label>
    <label>
      <textarea
        class="modal-products-form-field modal-products-form-field--red modal-products-form-message"
        placeholder="Comment"
        rows="7"
        required
      ></textarea>
    </label>
    <button class="modal-products-form-button" type="submit" name="submit">Submit</button>
  </form>
</div>
