<div class="overlay js-overlay-modal">
  <div class="modal modal-about backdrop" data-modal="5">
    <button modal-close type="button" class="modal__btn-close js-modal-close">
      <svg class="icon close-icon" width="20" height="20">
        <use
          href="./images/modal-franchise/modal-franchise.svg#icon-close"
        ></use>
      </svg>
    </button>
    <h2 class="modal__title">How it’s made?</h2>
    <div class="modal-about__video-wrapper">
      <iframe
        src="https://www.youtube.com/embed/zagD0LQdsDE"
        class="modal-about__video"
        title="Морозиво I Зроблено в Україні"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="modal-about__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
