<div class="modal-hero modal" data-modal="1">
    <button modal-close type="button" class="modal__btn-close js-modal-close">
  <svg class="close-icon" width="24" height="24">
    <use href="./images/modal-franchise/modal-franchise.svg#icon-close"></use>
  </svg>
</button>

<h2 class="modal__title modal-hero-title">Buy now</h2>

<ul class="modal-hero-list list">
    <li class="modal-hero-item">
      <div>
        <div class="modal-hero-box modal-hero-img1"></div>
        <p class="modal-hero-name">ice cream</p>
      </div>
    </li>
    <li class="modal-hero-item modal-hero-item--yellow">
      <div>
        <div class="modal-hero-box modal-hero-box--yellow modal-hero-img2"></div>
        <p class="modal-hero-name">ice coffee</p>
      </div>
    </li>
    <li class="modal-hero-item modal-hero-item--red">
      <div>
        <div class="modal-hero-box modal-hero-box--red modal-hero-img3"></div>
        <p class="modal-hero-name">milkshake</p>
      </div>
    </li>
  </ul>

  <form name="modal-hero_form" class="modal-hero-form-group">
    <label>
      <input class="modal-hero-form-field" placeholder="Name" name="user_name" type="text" />
    </label>
    <label>
      <input class="modal-hero-form-field" placeholder="Phone" name="user_tel" type="tel" />
    </label>
    </label>
    <label>
      <textarea
        class="modal-hero-form-field modal-hero-form-message"
        placeholder="Comment"
        rows="7"
      ></textarea>
    </label>
    <button class="modal-hero-form-button" type="submit">
      Submit
    </button>
  </form>
</div>