<div class="modal modal-about" data-modal="5">
  <button
    type="button"
    class="modal__btn-close js-modal-close"
    name="close modal"
  >
    <svg class="icon close-icon" width="20" height="20">
      <use href="./images/modal-franchise/modal-franchise.svg#icon-close"></use>
    </svg>
  </button>
  <h2 class="modal__title">How it’s made?</h2>
  <div class="modal-about__video-wrapper">
    <iframe
      src="https://www.youtube.com/embed/zagD0LQdsDE"
      class="modal-about__video"
      title="Морозиво I Зроблено в Україні"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <p class="modal-about__text">
    Health is the main value for us, and we follow it when creating our handmade
    desserts. We use traditional recipes and 100% natural ingredients.
  </p>
</div>
