<div class="modal-location modal" data-modal="6">
  <button type="button" class="modal__btn-close js-modal-close" name="close modal">
    <svg class="close-icon" width="24" height="24">
      <use href="./images/modal-franchise/modal-franchise.svg#icon-close"></use>
    </svg>
  </button>
  <h2 class="modal__title">Our Locations</h2>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d35824.32862694334!2d34.56192850646655!3d49.581559237481535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1671919894450!5m2!1sru!2sua"
    width="224"
    height="199"
    class="modal__map modal__map--mobile"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d35824.32862694334!2d34.56192850646655!3d49.581559237481535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1671919894450!5m2!1sru!2sua"
    width="448"
    height="260"
    class="modal__map modal__map--tablet-desktop"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <a
    class="modal-location__button"
    href="https://goo.gl/maps/N1GzNdVhbQvaL2fJ7"
    target="_blank"
    rel="noreferrer noopener nofollow"
  >
    Open map
  </a>
</div>
