<div class="modal modal-franchise" data-modal="7">
  <button
    type="button"
    class="modal__btn-close js-modal-close"
    name="close modal"
  >
    <svg class="close-icon" width="20" height="20">
      <use href="./images/modal-franchise/modal-franchise.svg#icon-close"></use>
    </svg>
  </button>
  <h2 class="modal__title">
    Thank you for your interest in owning an Ice Cream shop
  </h2>
  <p class="modal-franchise__descr">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>
  <form class="modal-franchise__form" autocomplete="off" id="the_form">
    <input
      class="modal-franchise__input input"
      type="text"
      id="txt"
      name="name"
      required
      placeholder="Name"
      pattern="^([a-zA-Z]{3,15}[ ]*)+"
      title="Name/surname from 3 characters"
    />

    <input
      class="modal-franchise__input input phone"
      type="tel"
      name="number-phone"
      id="number-phone"
      placeholder="Phone"
      required
    />

    <input
      class="modal-franchise__input input"
      type="email"
      name="email"
      id="email"
      placeholder="Email"
      required
    />

    <textarea
      class="modal-franchise__input modal-franchise__textarea input"
      name="comment"
      rows="3"
      id="comment"
      placeholder="Comment"
    ></textarea>

    <button
      class="modal__btn button disable modal__btn_form btn-arrow-svg"
      id="btSubmit"
      type="submit"
      name="submit"
    >
      Submit
    </button>
  </form>
</div>
<div class="overlay js-overlay-modal"></div>
