<section class="reviews">
    <div class="container">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="reviews__avatar" 
                        srcset="./images/reviews/reviews_1@1x.png 1x, ./images/reviews/reviews_1@2x.png 2x"
                        src="./images/reviews/reviews_1@1x.png" 
                        alt="John Smith" 
                        width="85" 
                        height="85" 
                        loading="lazy" />
                    <div class="swiper__background">
                        <p>I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition,
                            you
                            have beautiful serving, cozy atmosphere and polite staff.</p>
                    </div>
                    <p>Emily, Los Angeles</p>
                </div>
                <div class="swiper-slide">
                    <img class="reviews__avatar" 
                    srcset="./images/reviews/reviews_2@1x.png 1x, ./images/reviews/reviews_2@2x.png 2x"
                        src="./images/reviews/reviews_2@1x.png" 
                        alt="John Smith" 
                        width="85" 
                        height="85" 
                        loading="lazy" />
                    <div class="swiper__background">
                        <p>Every day we come to you with friends after classes in college. We love your ice cream and casual
                            atmosphere!</p>
                    </div>
                    <p>Bryan, New-York</p>
                </div>
                <div class="swiper-slide">
                    <img class="reviews__avatar" srcset="./images/reviews/reviews_3@1x.png 1x, ./images/reviews/reviews_3@2x.png 2x"
                        src="./images/reviews/reviews_3@1x.png" 
                        alt="John Smith" 
                        width="85" 
                        height="85" 
                        loading="lazy" />
                    <div class="swiper__background">
                        <p>Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
                            excellent
                            service - always served politely and quickly!</p>
                    </div>
                    <p>Diana, Chicago</p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
