.swiper {
    width: 600px;
    height: 300px;
}

.bg {
    background-color: #84A178;
    padding: 43px 109px;
    border-radius: 24px;
}

.swiper-pagination-bullet-active {
    background-color: #84A178;
}