.modal-location {
  height: 365px;
  @media screen and (min-width: 768px) {
    height: 458px;
  }
}
.modal__map {
  width: 224px;
  height: 199px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    width: 448px;
    height: 260px;
    margin-bottom: 32px;
  }
}

.modal__map--mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.modal__map--tablet-desktop {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
